.card{
    background-color: rgb(233, 222, 222);
}
.texto__breve{
    color: darkcyan;
}
.container h1 {
    color: #b52929;
}
h1 {
    color: greenyellow;
}
a.nav-link{
    color: rgb(36, 30, 75);
}
li{
    color: rgb(42, 18, 133);
}
footer{
    background: linear-gradient(to right, #7e6f65, #f9d423); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}